@CHARSET "UTF-8";

tr, th {
	text-align: center;
}

.table-div {
	width: 80%;
	margin: auto;
}

form {
	width: 40%;
	margin: 20px auto;
}

#errMsg-div {
	text-align: center;
}

#loadingGif {
	position: absolute;
	left: 50%;
}